.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.sidebar {
  width: 250px;
  position: sticky;
  top: 80px;
  
}

.main-content {
  flex: 1;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.sidebar-toggle {
  position: fixed;
  top: 60px;
  left: 10px;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ff4d4d;
}

.sidebar-toggle:hover {
  background-color: #eee;
}

.sidebar-open .sidebar-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }

  .main-content {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .product-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 6px;
  }

  .sidebar-toggle {
    top: 60px;
    left: 20px;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    
  }
  .main-content {
    width: 100%;
    margin-top: 20px;
  }
  .product-grid-container {
    padding: 0 10px;
  }
  .pagination-container {
    display: none;
  }
}

.pagination-container {
  display: flex;
  justify-content : center;
  align-items: flex-end;
  
  margin: 10px;
  @media (max-width: 767px) {
    display: none;
  }
}

